body {
  background-color: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--main-font-size);
}

button {
  outline: none;
  cursor: pointer;
}

.app {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--main-color);
  box-shadow: var(--app-box-shadow);
  border-radius: 10px;
}

.task-panel {
  margin: 0 auto;
  padding-bottom: 0;
}

.task-label {
  font-size: 3rem;
  color: var(--secondary-text-color);
}

.task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  width: 100%;
  border-bottom: var(--input-border);
}

.cancel-task-btn {
  background-color: transparent;
  border: none;
  color: var(--remove-task-color);
  cursor: pointer;
}

.cancel-task-btn:hover {
  color: var(--cancel-hover-color);
}

.create-task-btn {
  font-size: 0.875rem;
  color: var(--main-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: var(--create-btn-colors);
  border: 4px solid var(--create-btn-colors);
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
}

.create-task-btn:hover {
  transform: scale(1.03);
}

.delete-all-btn {
  width: 100%;
  background-color: var(--delete-all-color);
  border: 4px solid var(--delete-all-color);
  padding: 5px 0;
  margin-bottom: 10px;
  border-radius: 0.25rem;
  color: var(--main-color);
  display: none;
}

.delete-all-btn:hover {
  background-color: var(--delete-all-hover-color);
  border-color: var(--delete-all-hover-color);
}

.task-input {
  width: 80%;
  font-size: 16px;
  line-height: 16px;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--secondary-text-color);
}

.task-input:focus {
  outline: none;
}

.empty-list-alert {
  font-size: 1.875rem;
  background-color: var(--empty-list-color);
  width: 100%;
  text-align: center;
  padding: 16px;
}

.filter-buttons-container {
  padding: 5px 0;
}

.filter-btn {
  margin: 0 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tasks-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.task {
  width: 100%;
  margin-top: 10px;
  background-color: var(--main-bg-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.task-message {
  background-color: var(--main-color);
  width: 75%;
  padding: 10px 0;
  text-align: center;
  margin: 0;
}

.edit-message-input {
  background-color: var(--main-color);
  outline: none;
  border: 2px solid black;
  width: 75%;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  -webkit-touch-callout: default;
  -webkit-user-select: default;
  -khtml-user-select: default;
  -moz-user-select: default;
  -ms-user-select: default;
  user-select: default;
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: var(--remove-task-color);
  font-size: 2rem;
  font-weight: bold;
}

.status-change-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

.delete-btn:hover {
  transition-duration: 0.5s;
  color: var(--remove-task-color);
  transform: rotate(180deg);
  font-size: 2rem;
}

.hide-element {
  display: none;
}

.highlight-red {
  color: var(--remove-task-color);
}

.main-black {
  color: var(--cancel-hover-color);
}
