:root {
  --main-color: #ffffff;
  --remove-task-color: red;
  --cancel-hover-color: black;
  --create-btn-colors: #9561e2;
  --delete-all-color: #ef5753;
  --delete-all-hover-color: #e3342f;
  --empty-list-color: #a0f0ed;
  --main-bg-color: #dae1e7;
  --secondary-text-color: #3d4852;
  --input-border: 1px solid gray;
  --main-font-size: 12pt;
  --app-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
